@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{


color:aqua;
background-color:aqua;
margin: 0px;
margin-bottom: 100px;
font-family: "Roboto Mono", monospace;
}
header{
     boder-bottom: solid 2px rgba(1, 161, 253, 0.849)
     margin: 20px;
     fort-size: 32px;
     color: black
}
section{
     padding-bottom: 80px;
     padding-top: 80px;
     background: rgb(98, 0, 190)
     display: flex;
     justify-content:center;
}
h1{
color:blue;
fort-size: 40px;

}

p{ 
     font-size: 20px;
     



}